@model TurboCart.Presentation.Websites.TurboCartManagement.Models.BookingViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Rediger</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@Model.BookingId" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="BookingId" type="hidden"/>

            <div class="form-group mb-3">
                <label asp-for="Date" class="control-label">Dato</label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Time" class="control-label">Tid</label>
                <input asp-for="Time" type="time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <!--<label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-select">
                    <option value="" selected disabled>Choose customer</option>
                    <option value="1">Name</option>
                </select>-->

                <label asp-for="CustomerId" class="control-label">Kunde Id</label>
                <input asp-for="CustomerId" type="number" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Gem" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.BookingId">Tilbage til booking</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
