html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Used to make links take up the entire row in a table */
td {
    padding: 0 !important;
}
td a {
    display: block;
    height: 100%;
    padding: 0.5rem;
    color: unset;
    text-decoration: unset;
}
td a:hover {
    color: unset;
}

option.seperator {
    background: #c9c9c9;
    font-size: 1pt;
}