<!DOCTYPE html>
<html lang="en">

<head class="w-100 h-100">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TurboCart.Presentation.Websites.TurboCartSession.styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body class="w-100 h-100 bg-dark">
    <Routes @rendermode="@InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
